.menu{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: start;
    color:#bbe0e9;
}
.info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
ul.menu li{
    list-style: none;
}

ul.menu > li:hover{
    background: #000;
}

ul.menu > li > ul > li:hover{
    background: #47e0eb;
}

ul.menu li a{
    color:#bbe0e9;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

ul.menu > li{
    display: inline-block;
    margin-top: 20px;
}

ul.menu,ul.menu > li > ul{
    padding-left: 0;
}

ul.menu > li > ul{
    display: none;
}

ul.menu>li:hover>ul{
    display: block;
}

ul.menu{
    position: sticky;
    top: 0;
}
